{% load static %}

<section id="contact" class="section contact-form p-4">
  <div class="section-title d-flex justify-content-center">
    <h2 class="section-title-text py-3">Contact Me</h2>
  </div>

  <div class="container form-content my-5">
    <div class="form-content-card m-4">
      <form
        method="POST"
        class="contact-form"
        novalidate
      >
        {% comment %} Static form

        <div class="form-row">
          <label for="fname">First Name: </label>
          <input name="fname" type="text" id="fname" />
        </div>

        <div class="form-row">
          <label for="lname"> Last Name: </label>
          <input name="lname" type="text" id="lname" />
        </div>

        <div class="form-row">
          <label for="email"> Email Address: </label>
          <input name="email" type="email" id="email" />
        </div>

        <div class="form-row">
          <label for="message"> Message: </label>
          <textarea name="message" id="message"></textarea>
        </div>

        <div class="form-row">
          <input type="submit" class="btn btn-accent" />
        </div>

        {% endcomment %} 
        
        {% for field in form %}
        <div class="form-row">{{field.label_tag}} {{field}} 

            {% for error in field.errors %}
                <p class="text-warning mt-3" >
                {{error}}
                </p>
                

            {% endfor %}

        </div>

       

        {% endfor %}

        <div class="form-row">
          <input type="submit" value = "Submit" class="btn btn-accent" />
        </div>

        {% csrf_token %}
      </form>
    </div>
  </div>
</section>
