

@mixin card($content){

    .#{$content} {
        @include display-flex($flex-wrap: wrap);
    
        #{&}-card {
            min-height: 200px;
            max-height: auto;
            min-width: 200px;
            background-color: $secondary-color;
            @include display-flex($flex-direction:column);
            padding: 1rem 2.5rem;
            
            @content;
                
        }
    
    }


}



   
    



