@include media(xl){
    nav{
        .toggle{
            margin-left: 50px;
        }
    }
}

@include media(lg){
    nav{
        .menu-button {
            display: block;
        }

        .toggle{
            display: none;
        }

        ul{
            display: none;
        }

        &.open {
            .toggle{
                display: flex;
                margin-left: auto;
                align-self: flex-start;
            }
            min-height: 100vh;
            max-height: 100%;
            display: flex;
            background-color: $primary-color;
            @include menu-button-open(); 
            .brand, .menu-button{
                align-self: flex-start;
            } 
            
            ul{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin:0;
                li{
                    margin-bottom: 4rem;
                }
            }
        }

    }

    
}

@include media(sm){

    nav{
        
    }
    
    .form-content .form-content-card .contact-form{
        grid-template-columns: 1fr;
        .form-row{
                        
            &:nth-child(3), &:nth-child(4){
                grid-column: 1;
            }
        }

        // display: none;
    }

    .hero .hero-content{

        #hero-content-title{
            font-size: 1.5rem;
        }

        #hero-content-subtitle{
            font-size: 1.2rem;
        }

        
    }

    .projects-content .projects-content-card {
        
        .projects-content-card-title{
            text-align: center;
            font-size: 1rem;
        }

        .projects-content-card-des {
            text-align: center;
            font-size: 0.9rem;
        }
    }

}

@include media(xs){
    .hero .hero-content{

        #hero-content-title{
            font-size: 1.2rem;
        }

        #hero-content-subtitle{
            font-size: 1rem;
        }

        
    }
}